# Comment explicito para ignorar binarios

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
nopm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-en.d.ts

# env files (can opt-in for commiting if needded)
.env*

#docker
.postgres-data

# stripe cli client binary
stripe.exe